{% extends 'base.html.twig' %}

{% block title %}New Pin | Admin{% endblock %}

{% block body %}
    <h2>Create New Pin</h2>
    <div style="max-width: 400px; margin: 2em auto;">
        {{ form_start(form) }}
            {{ form_row(form.discription) }}
            {{ form_row(form.image) }}
            <button class="btn btn-primary">Create</button>
        {{ form_end(form) }}
    </div>
{% endblock %} 